

body
{
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: Source Sans Pro;
    font-size: 14px;
}

.navbar
{
    margin-bottom: 20px;
}

.navbar
{
    background-color: #B2B38C;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0px;
    font-family: "Source Sans Pro";
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    background-color: #B2B38C;
}

.navbar-default
{
    color: #E71014;
}

.navbar-default .navbar-nav > li > a
{
    color: black;
}

#footer
{
    background-color: #B2B38C;
    color: black;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: "Source Sans Pro";
    font-size: 14px;
}

#footer #footer-left
{
    padding-left: 4%;
}

.navbar-collapse.collapse
{
    height: 100px !important;
}

.navbar-right
{
    margin-top: 25px;
}

.jumbotron
{
    margin-top: 0px;
}

.h3
{
    font-weight: bold;
}

.footernavul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    display: inline-block;
}

.footernavli a
{
    font-size: 14px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.footernavli a:hover
{
    color: #fff;
    text-decoration: underline;
    font-weight: 300;
}

.greenbg
{
    background-color: #B2B38C;
}

.whitebg
{
    background-color: white;
}

#sidebar li
{
    list-style-type: none;
}

h2,h3
{
    font-weight: bold;
}

.textwidget li
{
    list-style-type: disc;
    margin-left: 20px;
}

h4
{
    color: #a30f0f;
}

.btn-success {
    background-color: rgb(178,179,140);
    border-color: rgb(178,179,140);
}

.tweet .e-entry-title[dir="ltr"] {
    text-align: left;
    font-size: 12px;
    direction: ltr;
}

h3.widgettitle {
    font-size:16px;
    margin-top: 0px;
}
li#synved_social_share-3 {
    list-style-type: none;
}