

body
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar
{
    margin-bottom: 20px;
    background-color: #c34d4d;
}

.navbar
{
    background-color: #ffffff;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus
{
    color: #130CD0;
    background-color: #FFFFFF;
}

.navbar-default
{
    color: #E71014;
}

#footer
{
    background-color: #3331A5;
    color: #FFFFFF;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#footer #footer-left
{
    padding-left: 4%;
}

