.greenbg
{
    background-color: #B2B38C;
}

.whitebg
{
    background-color: white;
}

/* FOOTER */
#footer
{
    background-color: #B2B38C;
    color: black;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: "Source Sans Pro";
    font-size: 14px;
}
#footer #footer-left
{
    padding-left: 4%;
}

.footer-right
{
    text-align: right;
}

.footer-middle
{
    text-align: center;
}
.footernavul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    display: inline-block;
}

.footernavli a
{
    font-size: 14px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.footernavli a:hover
{
    color: #fff;
    text-decoration: underline;
    font-weight: 300;
}

.greenbgfooter
{
    background-color: #B2B38C;
}


/* OTHER */
li.h-entry.tweet.js-tweetIdInfo.is-deciderHtmlWhitespace.customisable-border
{
    border-style: none;
    color: #b2b38c;
}

.customisable,.customisable:link, .customisable:visited
{
    color: #846d41;
}

a
{
    color: #b2b38c;
}

.jumbotron
{
    margin-top: 0px;
}

.h3
{
    font-weight: bold;
}



#sidebar li
{
    list-style-type: none;
}

h2,h3
{
    font-weight: bold;
    color: #808066;
}

.textwidget li
{
    list-style-type: disc;
    margin-left: 20px;
}

h4
{
    color: #a30f0f;
}

.btn-success
{
    background-color: rgb(178,179,140);
    border-color: rgb(178,179,140);
}

.tweet .e-entry-title[dir="ltr"]
{
    text-align: left;
    font-size: 12px;
    direction: ltr;
}

h3.widgettitle
{
    font-size: 24px;
    margin-top: 10px;
}

li#synved_social_share-3
{
    list-style-type: none;
}

#footer h3.widgettitle
{
    font-size: 18px;
    margin-top: 0px;
}



@media (max-width: 768px)
{
    #largelogo {
        display:    none;   
    }
    #smalllogo {
        display:block;
    }
    
    .navbar-header
    {
    height: 75px;
    }
    
    
}
@media (min-width: 769px) and (max-width: 990px){

    #largelogo {
        display:    none;   
    }
    #smalllogo {
        display:block;
    }
    
    .navbar-header
    {
    height: 30px;
    }
        
}

@media (min-width: 991px) {

    #largelogo {
        display:    block;   
    }
    #smalllogo {
        display:none;
    }
    
    .navbar-header
    {
    height: 100px;
    }
    
}


#footer h3.widgettitle{
    margin-top: 20px;
}

#footer #text-4 {
	list-style-type: none;
    margin-top: 20px;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:black;
    }
}